.item {
  color: #30343F !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .3s;
}

.item:hover {
  color: #f57922 !important;
}

.item>div:last-child {
  margin-top: 3px;
  white-space: nowrap;
}

.item>div>span {
  font-size: 18px;
}

@media(max-width: 515px) {
  .item {
    padding: 8px 5px;
  }
}
