.player {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 10px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order {
  color: #000;
}

.playerName {
  color: #000 !important;
}

.playerName:hover {
  color: rgba(0, 0, 0, 0.65) !important;
}

.playerAgeAndPos {
  font-size: 10px;
}

.rating {
  color: #f57922;
}
