.clubSquad {
  color: #fff;
  padding: 10px 20px;
  margin-left: 30px;
  margin-top: 30px;
  background: #f57922;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}
