.searhPlayers {
  height: 30px;
  width: 150px;
  margin: auto !important;
}

.playerItem {
  color: rgba(0, 0, 0, 0.65) !important;
  font-size: 12px;
}

.playerItem:hover {
  color: rgba(0, 0, 0, 0.45) !important;
}

@media (max-width: 580px) {
  .searhPlayers {
    font-size: 12px !important;
    width: 100px;
  }
}
