.searhPlayers {
  height: 30px;
  min-width: 400px;
}

.searhPlayers input {
  color: #555 !important;
  background: #faf7fd !important;
}

.searhPlayers input:focus {
  border: none !important;
  box-shadow: none !important;
}

.searhPlayers input::placeholder {
  color: #696969;
}

.playerItem {
  color: #555 !important;
  font-family: "Varela Round", sans-serif;
}

.playerItem:hover {
  color: #000 !important;
}

.playerItem>span {
  padding-right: 10px;
}

.placeholder {
  color: #000 !important;
  text-align: left;
}

@media(max-width: 1110px) {
  .searhPlayers {
    width: 100%;
    min-width: unset;
  }
}
