.today-fixtures {
  color: #fff;
  padding: 20px 50px;
  background: #000;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.slick-dots li button:before {
  color: #fff !important;
}

.dot-pulse {
  margin: auto;
}

.fixtures-list {
  animation: 1s fallAnimation ease-in;
}

@keyframes fallAnimation {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top:  0px;
  }
}
