.clubCentre, .clubCentreAway {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clubCentreAway {
  flex-direction: row-reverse;
}

.clubData, .clubDataAway {
  display: flex;
}

.clubDataAway {
  flex-direction: row-reverse;
}

@media(max-width: 875px) {
  .clubData, .clubDataAway {
    flex-direction: column;
    font-size: 12px;
  }
}

@media(max-width: 590px) {
  .clubCentre, .clubCentreAway {
    flex-direction: column;
  }
}
