.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  max-height: 150px;
  overflow: auto;
}

.title {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.season {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon {
  font-size: 30px;
}

.player-data {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.player-data span {
  font-weight: bold;
}

.season span {
  font-weight: bold;
  cursor: pointer;
}
