.band-checkbox {
  display: block !important;
}

.auth-section {
  display: flex;
  height: 450px;
  margin: 40px 15%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
  width: 50%;
}

.auth-section input {
  border: none !important;
}

.auth-section input:focus {
  box-shadow: none !important;
}

.auth-section .ant-input-affix-wrapper {
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  border-radius: 0 !important;
}

.auth-section .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 2px #ff9c56bd !important;
}
