.main-layout {
  min-height: 100vh !important;
}

.header {
  font-family: 'Roboto Condensed', sans-serif;
  background: #f57922 !important;
}

.content-layout-background {
  padding: 24px;
  margin: 0;
  background: #fff;
}

.header .logo {
  height: 100%;
  float: left;
}

.header .logo img {
  height: 90%;
}

.header .nav-actions {
  padding: 0 20px;
  float: left;
  display: flex;
}

.header .auth-actions {
  padding: 0 20px;
  float: right;
  display: flex;
}

/* ant-design styles overwrite */

.ant-select:not(.ant-select-disabled):hover .ant-select-selector, input:hover, .ant-picker:hover {
  border-color: #f57922 !important;
}

.ant-select-focused:not(.ant-select-customize-input) .ant-select-selector, .ant-input:focus, .ant-picker-focused {
  border-color: #f57922 !important;
  box-shadow: 0 0 0 2px #ff9c56 !important;
}

.ant-btn.ant-btn-primary {
  background-color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-btn.ant-btn-default:hover {
  color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-btn-dashed:hover, .ant-btn-dashed:focus {
  color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-spin-dot-item {
  background: #f57922 !important;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f57922 !important;
  border-color: #f57922 !important;
}

.modal-note {
  padding: 15px 0 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}

.ant-modal-body input, .ant-modal-body .ant-select-selector {
  font-size: 16px;
  border-radius: 0 !important;
}

.ant-col.ant-form-item-label label {
  color: rgba(0, 0, 0, 0.45) !important;
}

.ant-modal-content {
  font-family: 'Open Sans', sans-serif;
}

.ant-modal-body {
  padding-top: 0 !important;
}

.ant-modal-header {
  text-align: center;
  background: #f57922 !important;
  border: none !important;
}

.ant-modal-title {
  font-size: 22px !important;
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}

.ant-menu-item.ant-menu-item-active {
  color: #f57922 !important;
}

.ant-menu-item.ant-menu-item-selected {
  color: #f57922 !important;
  background: rgb(255, 120, 117, 0.1) !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #f57922 !important;
}

.ant-radio-inner::after {
  background-color: #f57922 !important;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus+.ant-radio-inner {
  border-color: #f57922 !important;
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: #ffb886 !important;
}

/* ant-design styles overwrite */