.main-layout {
  min-height: 100vh !important;
}

.content-layout-background {
  margin: 0;
  background: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.65); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45); 
}

/* ant-design styles overwrite */

.ant-select:not(.ant-select-disabled):hover .ant-select-selector, input:hover, .ant-picker:hover {
  border-color: #f57922 !important;
}

.ant-select-focused:not(.ant-select-customize-input) .ant-select-selector, .ant-input:focus, .ant-picker-focused {
  border-color: #f57922 !important;
  box-shadow: 0 0 0 2px #ff9c56 !important;
}

.ant-btn.ant-btn-primary {
  background-color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-btn.ant-btn-default:hover {
  color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-btn-dashed:hover, .ant-btn-dashed:focus {
  color: #f57922 !important;
  border-color: #f57922 !important;
}

.ant-spin-dot-item {
  background: #f57922 !important;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f57922 !important;
  border-color: #f57922 !important;
}

.modal-note {
  padding: 15px 0 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}

.ant-modal-body input, .ant-modal-body .ant-select-selector {
  border-radius: 0 !important;
}

.ant-col.ant-form-item-label label {
  color: rgba(0, 0, 0, 0.45) !important;
}

.ant-modal-content {
  font-family: 'Open Sans', sans-serif;
}

.ant-modal-body {
  padding-top: 0 !important;
}

.ant-modal-header {
  text-align: center;
  background: #fff;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
}

.ant-modal-title {
  color: #000 !important;
  font-size: 22px !important;
}

.ant-menu-item.ant-menu-item-active {
  color: #f57922 !important;
}

.ant-menu-item.ant-menu-item-selected {
  color: #f57922 !important;
  background: rgb(255, 120, 117, 0.1) !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #f57922 !important;
}

.ant-radio-inner::after {
  background-color: #f57922 !important;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus+.ant-radio-inner {
  border-color: #f57922 !important;
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #f57922 !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #ff9c56 !important;
}

.ant-tabs-top .ant-tabs-ink-bar-animated, .ant-tabs-bottom .ant-tabs-ink-bar-animated {
  background-color: #f57922 !important;
}

.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
  stroke: #ff9c56 !important;
}

.ant-progress-success-bg, .ant-progress-bg {
  background-color: #ff9c56 !important;
}

/* ant-design styles overwrite */
