.header {
  color: #1B2021;
  font-family: 'Varela Round', sans-serif;
  height: 60px !important;
  line-height: normal !important;
  display: flex;
  justify-content: space-between;
  padding: 0 20px !important;
  background: #fff !important;
}

.header .nav-actions {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .menu-items {
  display: flex;
}

.header .auth-actions {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .search-bar {
  height: 100%;
  padding: 0 20px;
  display: flex;
}

.bottomLine {
  width: 100%;
}

.loading, .stable {
  height: 2px;
  background: #f57922;
}

.stable {
  width: 100%;
}

.loading {
  height: 3px;
  animation: 2s loadingProgress infinite;
}

@keyframes loadingProgress {
  0% {
    margin: auto;
    width: 0;
  }
  50% {
    margin: auto;
    width: 100%;
  }
  100% {
    margin: auto;
    width: 0;
  }
}

@media (max-width: 815px) {
  .header {
    padding: 0 5px !important;
  }
  .header .nav-actions {
    padding: 0 5px;
  }
  .auth-actions {
    padding: 0 5px;
  }
}

@media (max-width: 580px) {
  .action-button {
    font-size: 12px;
    padding: 0 5px;
  }
  .ant-cascader-menu {
    font-size: 12px !important;
  }
  .ant-cascader-menu:nth-child(2) {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .ant-cascader-menus>div {
    display: flex;
    flex-direction: column;
  }
}