.header {
  font-family: 'Roboto Condensed', sans-serif;
  background: #f57922 !important;
}

.header .logo {
  height: 100%;
  float: left;
}

.header .logo img {
  height: 90%;
}

.header .nav-actions {
  padding: 0 20px;
  float: left;
  display: flex;
}

.header .auth-actions {
  height: 100%;
  padding: 0 20px;
  float: right;
  display: flex;
}

.header .search-bar {
  height: 100%;
  float: right;
  display: flex;
}
