.header {
  font-family: 'Roboto Condensed', sans-serif;
  background: #fff !important;
}

.header .logo {
  height: 100%;
  float: left;
}

.header .logo img {
  height: 90%;
}

.header .nav-actions {
  padding: 0 20px;
  float: left;
  display: flex;
}

.header .auth-actions {
  height: 100%;
  padding: 0 20px;
  float: right;
  display: flex;
}

.header .search-bar {
  height: 100%;
  float: right;
  display: flex;
}

@media (max-width: 815px) {
  .header {
    padding: 0 5px !important;
  }
  .header .nav-actions {
    padding: 0 5px;
  }
  .auth-actions {
    padding: 0 5px;
  }
  .profile-button {
    height: 25px;
    margin-top: 80%;
    transform: none;
  }
}

@media (max-width: 720px) {
  .logo {
    overflow: hidden;
    max-width: 70px;
  }
}

@media (max-width: 580px) {
  .action-button {
    font-size: 12px;
    padding: 0 5px;
  }
  .ant-cascader-menu {
    font-size: 12px !important;
  }
  .ant-cascader-menu:nth-child(2) {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .ant-cascader-menus>div {
    display: flex;
    flex-direction: column;
  }
}
