.bookmaker {
  position: sticky;
  top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.bookmakerName {
  color: #000;
  font-size: 22px;
}

.bookmakerPage {
  /* color: #008BE0 !important; */
  margin-top: 5px;
}

.bookmakerLink {
  white-space: nowrap;
}

.offset {
  height: 100%;
}
