.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  min-width: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.title {
  color: #000;
}

.homeStats, .awayStats {
  font-size: 16px;
}

.homeStats {
  color: #008BE0 !important;
}

.awayStats {
  color: #EB5B14 !important;
}

.dash {
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.65);
}

.bold {
  font-weight: 500;
}
