.round, .currentRound {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  transition: all .3s;
}

 .currentRound {
  background: #f5792254 !important;
 }

.round:hover, .currentRound:hover {
  background: #f57922ad !important;
}

.roundLink {
  color: #000;
  padding: 10px 15px;
  display: block;
}

.round:hover .roundLink, .currentRound:hover .roundLink {
  color: #fff !important;
}
