.clubInfo, .clubInfoAway {
  display: flex;
  flex-direction: column;
}

.clubInfo {
  text-align: left;
}

.clubInfoAway {
  text-align: right;
}

@media(max-width: 875px) {
  .clubInfo, .clubInfoAway {
    text-align: center;
  }
}
