.shotsStats, .mobileShotsStats {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.shotsStats {
  min-width: 250px;
}

.statsTitle {
  display: flex;
  justify-content: space-between;
}

.statsData {
  display: flex;
  justify-content: space-between;
}

.hided {
  display: none !important;
}

.progressLinecap {
  margin: 10px 10px 0 !important;
}

.totalShots {
  font-size: 20px;
}
