.dateArea {
  display: flex;
}

.fixtureData {
  color: #fff !important;
  font-size: 12px;
  white-space: nowrap;
  transition: all .1s;
}

.fixtureData:hover {
  color: rgb(214, 214, 214) !important;
}

.fixtureLeague {
  font-size: 11px;
  color: rgb(226, 226, 226) !important;
  max-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin: auto;
}

.fixtureLeague:hover {
  color: #f57922 !important;
}

.fixtureTime {
  font-size: 12px;
}

.awayClub {
  padding-left: 5px;
}

.homeClub {
  padding-right: 5px;
}
