.league-logo {
  width: 15px;
  margin-right: 10px;
}

.popup-input {
  position: absolute !important;
  top: 10px;
  opacity: 0;
  z-index: -1;
  cursor: default !important;
}

.action-button {
  cursor: pointer;
  user-select: none;
  transition: all .3s;
}

.profile-button {
  font-family: 'Varela Round', sans-serif;
  padding: 8px 15px;
  cursor: pointer;
}

.profile-name {
  padding-left: 10px;
  white-space: nowrap;
  user-select: none;
  transition: all .3s;
}

.profile-name:hover {
  color: #f57922;
}
