.players {
  display: flex;
  flex-direction: column;
}

.player, .currentPlayer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.playerNameWrapper {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.playerName {
  color: #fff !important;
}

.playerName:hover {
  color: rgba(251, 251, 251, 0.65) !important
}

.playerPosition {
  font-weight: 100;
}

.currentPlayer {
  padding: 7px 0; 
}
