.fixtureStatus {
  margin: auto;
}

.score {
  font-size: 22px;
  color: #000 !important;
}

.finished {
  font-size: 14px;
  color: #ff5f5f;
}

.waited {
  font-size: 14px;
  color: #00b700;
}

.fixtureDate {
  font-size: 12px;
  font-style: italic;
}

.venue {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media(max-width: 576px) {
  .score {
    font-size: 18px;
  }
}
